.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container{
  width: 300px;
  border: solid 2px #f51940;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.App .card-container h2{
  margin: 0;
  font-size: 3rem;
  color: aqua;
  letter-spacing: 2px;
}

.App .card-container .fields-container{
  text-transform: capitalize;
}

.App .card-container .fields-container div{
  font-size: 20px;
  font-weight: 900;
}